@import "variable";
@import "mixin";

body {
  color: $primary-color;
  .box {
    @include border-radius(10px);
  }

  @font-face {
    font-family: 'font';
    src: font-url('font.eot');
    font-weight: normal;
    font-style: normal;
  }

  .avatar {background-image: url('./baner.png#test');}
  .baner {background-image: image-url("baner.png");}
}